@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 280px;
}

/* navbar */
.navbar{
    background-color: white;
    text-align: center;
}
.navbar img{
    width: 130px;
    cursor: pointer;
}
.navbar .nav-item a{
    color: black;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin:0 10px;
    font-weight: 600;
    transition: all 0.5s;
}
.navbar .nav-item a:hover{
    color: #f7be27;
}
.navbar .nav-item .number{
    color: #f7be27;
    font-size: 20px;
    font-weight: 600;
    margin-top: -2%;
    cursor: pointer;
}
.navbar .nav-item i{
    font-size: 30px;
    margin: 2px 0 0 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.navbar .nav-item i:hover{
    color: #f7be27;
}


.blog-header{
    height: auto;
    background-image: url(./images/blog-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    color: #fff;
    text-align: center;
}
.blog-header .head-links{
    margin: 20% auto 100px auto;
}
.blog-header .head-links a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}
.blog-header .head-links h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 70px;
}
.bloging{
    margin: 30px 0;
}
.bloging .image{
    width: 100%;
    height: 400px;
    overflow: hidden;
    
}
  .bloging .image img{
    transition: all 1.2s ease;
    cursor: pointer;
  }
.bloging .image:hover img{
    transform: scale(1.2);
}
.bloging .btns{
    position: absolute;
    margin: -12px 0 0 10px;
}
.bloging .btns button{
    background-color: red;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 0 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.bloging .discription{
    margin-top: 40px;
}
.discription h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #642f21;
    cursor: pointer;
}
.bloging .discription p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #757575;
   }
.bloging .read-btn button{
    background-color: red;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 10px 40px;
    margin-bottom: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.bloging .read-btn button:hover{
    background-color: #f7be27;
    color: black;
}

.col-md-5 .search-bar{
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(218, 226, 223);
}
.post{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.post img{
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
}
.post h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #642f21;
    transition: all 0.8s;
    font-size: 18px;
}
.post:hover h6{
    color: #f7be27;
}
.post .date-{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.category{
    margin: 30px 0;
}
.category li{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    list-style: none;
    margin: 15px 0;
    transition: all 0.7s;
    cursor: pointer;

}
.category li:hover{
    color: #f7be27;
}
.category h5{
    margin: 30px 0;
}
.col-md-5 h5{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #642f21;
    font-size: 24px;
}
.poster img{
    width: 100%;
    height: auto;
    margin: 10px 0 30px 0;
}
.tags h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #642f21;
    font-size: 24px;
}
.tags button{
    background:none;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
    width: 90px;
    margin: 10px 0 0 10px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tags button:hover{
    background-color: #f7be27;
}


.sect-16 .logo{
    margin: 26px 0;
}
.sect-16 .logo img{
    width: 200px;
    margin: auto;
    cursor: pointer;
}
.sect-16 .container .links{
    margin: 20px 0;
}
.sect-16 .container .links a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin:10px 0 10px 0;
    border-left:black 3px solid;
    text-decoration: none;
    transition: all 0.6s;
    color: black;
    padding:0 10px;
    text-align: center;
}
.sect-16 .container .links a:hover{
    color: #ffc107;
}

.sect-16 .container .links a:first-child {
    border-left: none;
    }
.sect-16 .container .icons{
    margin: 20px 0;
}
.sect-16 .container .icons i{
    font-size: 30px;
    margin:15px 13px;
    transition: all 0.6s;
}
.sect-16 .container .icons i:hover{
    color: #ffc107;
    cursor: pointer;
}
.sect-16 .copyri{
   text-align: center;
   margin: 20px 0 100px 0;
}






@media(max-width:767px){
.sect-16 .container .icons {
    display: flex;
    flex-direction: column;
}
.sect-16 .container .links{
    display: flex;
    flex-direction: column;
}
.sect-16 .container .links a{
    border-left: none;
}
.sect-16 .container .links a:hover{
    border-left: none;
}
.blog-header .head-links{
    margin-top: 170px;
}
.post{
    display: inline-block;
    margin-right: 0;
}
.post h6{
    margin-top: 10px;
}
}
@media(max-width:390px){
    .bloging .btns .date{
        display: none;
    }
}
@media(max-width:768px){
    .head-links{
        margin-top: 150px;
    }
}